//=======================================================
//      Ограничивающий контейнер
//=======================================================
._container{
  max-width: $maxWidthContainer;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
//=======================================================
//      Адиптивное изображение
//=======================================================
._ibg{
  position: relative;
  img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  }
}

body.ie{
  ._ibg{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  ._ibg img{
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
  }
}
//=======================================================
//      Сброс стилей кнопки
//=======================================================
._btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }