$maxWidth: 1920px; //Размер макета
$maxWidthContainer: 1220px; //Размер котейнера

// Break point
$md1: $maxWidthContainer + 10px;
$md2: 992px;
$md3: 768px;
$md4: 480px;

// Переменные CSS
:root {
    // Цветовая схема
    --color-black: #000;
    --color-white: #fff;
    --color-ebony: #253342;
    --color-ebony-clay: #1f2b38;
    --color-alpine: #bb8e34;
    --color-mine: #373737;
    --color-slate: #798797;
    --color-jungle: #27ae60;
    --color-iron: #c9cccf;

    --shadow-logo: 0px -2px 6px rgba(252, 230, 119, 0.26);
    //Шрифты
    --font-roboto: 'Roboto', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}
