$maxWidth: 1366px; //Размер макета
$maxWidthContainer: 1230px; //Размер котейнера

// Break point
$md1: $maxWidthContainer + 15px;
$md2: 992px;
$md3: 768px;
$md4: 480px;

// Переменные CSS
:root{
    // Цветовая схема
    --color-black: #000;
    --color-white: #fff;
}