//==============================================================
//      Сброс настроек стилей 
//==============================================================
@import 'parts/_reset';
//==============================================================
//      Подключение переменных
@import 'parts/_vars';
//==============================================================
//      Подключение шаблонов
@import 'parts/_templates';
//==============================================================
//      Подключение Mixin
@import 'parts/_mixin';
//==============================================================
//      Подключение шрифтов
//==============================================================
// @import 'parts/_fonts';
// @import 'parts/_icons-fonts';
//==============================================================
//      Основные настройки
//==============================================================
html,
body{
    height: 100%;
    &._lock{
        overflow: hidden;
    }
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background-color: rgb(150, 161, 161);
}
//==============================================================
//      Подключение общих стилей
//==============================================================
@import 'parts/_general';
//==============================================================
@import 'parts/_header';

.main{
    flex: 1 1 auto;
    width: 100%;
}

@import 'index/_index';

@import 'parts/_footer';

@import 'parts/_popup';